/* Reset default styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0DCF2;
    transition: transform 1s ease, opacity 1s ease;
}

#splashScreen.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

/* ======================== Login Container ======================== */

#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 500; /* make sure it's below the splashScreen */
}


#loginContainer.visible {
    opacity: 1;
}

.posturePalLogo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}


.loginButton {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #2B617D;
    color: white;
    height: 61px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.dividerLine {
    width: 120%; 
    height: 2px;
    background-color: #e0e0e0;}

.socialIcons {
    display: flex;
    justify-content: space-around;
    width: 120%;
}


.socialIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ======================== Flash Message for Logout ======================== */

.flashMessages {
    padding: 10px;
    border-radius: 5px;
    background-color: #f8d7da; 
    color: #721c24;
    text-align: center;}

.flashMessages li {
    list-style-type: none;
}