body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box; /* mIla: Ensure no overflow */
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Mila: Ensure main takes up remaining width apart from the sidebar */
}

.blockContent {
    padding: 20px;
    width: 100%;
}

/* ======================== Base Page (that other pages extend layouts from) ==================================*/

.mainContainer {
    display: flex;
    width: 100%;
}

.logo {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 32px;
}

.logo img {
    height: 48px;
}

.sidenav {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    padding-right: 10vw;
    font-size: 20px;
}

.sidenav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.navicons {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.PageBanner {
    padding: 20px;
    width: 100%;
    background-color: #2B617D;
    font-weight: 600; /* Mila: Semi-bold*/
    color: white;
    font-size: 30px;
}

/* ======================== Home Page ==================================*/

.greeting {
    font-size: 30px;
    font-weight: 500;
}

.usageContainer {

}

.usageContainerFlex {
    display: flex;
    justify-content: space-evenly;
}

.usageCard {
    padding: 10px;
}

.percentPosture {
    font-size: 30px;
    color: #46C261;
}

.usageSmallText{
    font-size: 12px;
}

.usageBoldText {
    font-weight: bold;
}

/* =========================== Info Page ==============================*/

.informationContainer{
    width: 100%;
}

.infoCardsContainer{
    display: flex;
    flex-direction: column;
}

.infoCards {
    font-size: 24px;
    font-weight: 400;
}

.infoCards img {
    height: 200px;
    border-radius: 25px;
}