<div id="modal-overlay" style="display: none;"></div>
<div id="calibrateModal" style="display: none;">
    <h3>Calibrate Your Device</h3>
    <p>Make sure to sit or stand up straight to capture your good posture. If you deviate from this posture you will receive an alert. Don't worry, you can always re-calibrate in settings.</p>
    <button id="calibrate-btn">Calibrate Posture</button>

    <table id="threshold-table" border="0" style="display: block;">
        <thead>
            <tr>
                <!-- <th>Parameter</th>
                <th>Value</th> -->
            </tr>
        </thead>
    <tbody id="threshold-values"></tbody>
    </table>
</div>
