<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PosturePal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if request.path == '/statistics' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='statistics.css') }}">
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- PWA -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.11.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- To display line chart -->


</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="mainContainer"> <!-- Mila: Main container contains the navigation bar and block content -->
        <!-- Logo separate from navigation bar to disdplay it higher -->
        <div class="logo">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/PosturePalLogo.png') }}"
                    alt="PosturePal Logo"></a>
        </div>
        <!-- Navigation bar -->
        <div class="sidenav">
            <a href="{{ url_for('home') }}">
                <!-- Icon in side nav depends on current page route -->
                <img class="navicons"
                    src="{% if request.path == '/home' %}https://img.icons8.com/fluency-systems-filled/48/1A1A1A/home.png{% else %}https://img.icons8.com/fluency-systems-regular/50/home--v1.png{% endif %}"
                    alt="home icon" />
                Home
            </a>
            <a href="{{ url_for('statistics') }}">
                <img class="navicons"
                    src="{% if request.path == '/statistics' %}https://img.icons8.com/fluency-systems-filled/50/bar-chart.png{% else %}https://img.icons8.com/fluency-systems-regular/50/bar-chart.png{% endif %}"
                    alt="statistics icon" />
                Statistics
            </a>
            <a href="{{ url_for('information') }}">
                <img class="navicons" src="{% if request.path == '/information' or request.path == '/article1' or request.path == '/article2' or request.path == '/article3' or request.path == '/article4' %}
                    https://img.icons8.com/fluency-systems-filled/50/read.png
                {% else %}
                    https://img.icons8.com/fluency-systems-regular/50/read.png
                {% endif %}" alt="information icon" />
                Info
            </a>
            <a href="{{ url_for('settings') }}">
                <img class="navicons"
                    src="{% if request.path == '/settings' %}https://img.icons8.com/fluency-systems-filled/50/settings.png{% else %}https://img.icons8.com/fluency-systems-regular/50/settings--v1.png{% endif %}"
                    alt="settings icon" />
                Settings
            </a>
        </div>

        <main>
            <div class="PageBanner"> <!-- Mila: Dynamically show page banner text depending on the route -->
                {% if request.path == '/home' %}
                Home
                {% elif request.path == '/statistics' %}
                Statistics
                {% elif request.path == '/information' %}
                Info
                {% elif request.path == '/article1' %}
                Info
                {% elif request.path == '/article2' %}
                Info
                {% elif request.path == '/article3' %}
                Info
                {% elif request.path == '/article4' %}
                Info
                {% elif request.path == '/article5' %}
                Info
                {% elif request.path == '/settings' %}
                Settings
                {% else %}
                Unknown Page
                {% endif %}
            </div>
            <!-- Mila: When a page extends from base.html, its own content will go in block content below -->
            <div class="blockContent">
                {% block content %}
                {% endblock %}
            </div>
            <!-- Bottom version of side navigation to display on mobile devices -->
            <div class="bottomnav">
                <a href="{{ url_for('home') }}">
                    <img class="navicons"
                        src="{% if request.path == '/home' %}https://img.icons8.com/fluency-systems-filled/48/1A1A1A/home.png{% else %}https://img.icons8.com/fluency-systems-regular/50/home--v1.png{% endif %}"
                        alt="home icon" />
                </a>
                <a href="{{ url_for('statistics') }}">
                    <img class="navicons"
                        src="{% if request.path == '/statistics' %}https://img.icons8.com/fluency-systems-filled/50/bar-chart.png{% else %}https://img.icons8.com/fluency-systems-regular/50/bar-chart.png{% endif %}"
                        alt="statistics icon" />
                </a>
                <a href="{{ url_for('information') }}">
                    <img class="navicons" src="{% if request.path == '/information' or request.path == '/article1' or request.path == '/article2' or request.path == '/article3' or request.path == '/article4' or request.path == '/article5' %}
                        https://img.icons8.com/fluency-systems-filled/50/read.png
                    {% else %}
                        https://img.icons8.com/fluency-systems-regular/50/read.png
                    {% endif %}" alt="information icon" />
                </a>
                <a href="{{ url_for('settings') }}">
                    <img class="navicons"
                        src="{% if request.path == '/settings' %}https://img.icons8.com/fluency-systems-filled/50/settings.png{% else %}https://img.icons8.com/fluency-systems-regular/50/settings--v1.png{% endif %}"
                        alt="settings icon" />
                </a>
            </div>
    </div>
    </main>

    
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <!-- Includes JavaScript for settings page functionality -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/main.js"></script>
    {% if request.path == '/statistics' %}
    <script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
    {% endif %}

    <!-- Service worker required for PWA -->
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(() => console.log("Service Worker Registered"))
                .catch((error) => console.error("Service Worker Registration Failed:", error));
        }
    </script>
</body>

</html>