<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PosturePal</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{  url_for('static', filename='login.css') }}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- PWA -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.11.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <div id="splashScreen">
        <img src="{{ url_for('static', filename='images/SplashScreen.png') }}" alt="Splash Screen Image"
            id="splashImage" style="height: 70vh">
    </div>

    <div class="siteNavbar">
        <div class="hamburger" onclick="toggleNav()">
            &#9776;
        </div>
        <div class="navLinks">
            <div class="active"><a href="{{ url_for('index') }}">PosturePal</a></div>
            <a href="{{ url_for('shop') }}">Shop Now</a>
            <a href="{{ url_for('howto') }}">How To Use</a>
            <a href="{{ url_for('about') }}">About Us</a>
        </div>
    </div>

    <div id="mockup">
        <img src="{{ url_for('static', filename='images/mockup2.png') }}" alt="mockup image" id="floatingMockup">
    </div>

    <div class="indexContainer">
        <div id="imageContainer">
            <img src="https://media.licdn.com/dms/image/v2/D5612AQHCXFbqZ5_1Vg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1675441617541?e=1738800000&v=beta&t=pWxi44cBUIBfafC5oHr5JSkyg6yNdu9ux8JJPo5_Q34"
                alt="Posture Image">
        </div>

        <div id="loginContainer">
            <br>
            <div class="motto">
                <h1>Feel Better</h1>
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Look Better</h1>
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be Better</h1>
            </div>
            <!-- Display flash message for logout notification) -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashMessages">
                <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}

            <!-- PosturePal Logo -->
            <img src="{{ url_for('static', filename='images/login.png') }}" alt="PosturePal Logo"
                class="posturePalLogo">

            <!-- <button class="loginButton">Login With</button> -->

            <div class="dividerLine"></div>

            <!-- Login icons for Facebook, Google, and GitHub -->
            <div class="socialIcons">
                <a href="{{ url_for('google.login') }}">
                    <img src="{{ url_for('static', filename='images/google_icon.png') }}" alt="Google Icon"
                        class="socialIcon">
                    Continue with Google
                </a>

            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='splash.js') }}"></script>
    <script src="/static/js/nav.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(() => console.log("Service Worker Registered"))
                .catch((error) => console.error("Service Worker Registration Failed:", error));
        }

        document.addEventListener("DOMContentLoaded", () => {
            const mockupImage = document.getElementById('floatingMockup');

            setTimeout(() => {
                mockupImage.style.animationDuration = "5s";
            }, 5000);
        });
    </script>

</body>

</html>