{% extends "base.html" %}

{% block title %}PosturePal - Info{% endblock %}

{% block content %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Disclaimer:</strong> This app is not intended for medical purposes. It is solely for improving the presentation of your posture.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="informationContainer">
        <div class="infoCardsContainer">
            <div class="infoCards">
                <p>Yoga For Posture</p>
                <img src="{{ url_for('static', filename='/images/thumbnailtemp.jpg') }}" alt="Thumbanil">
            </div>
        </div>
    </div>
{% endblock %}