{% extends "base.html" %}

{% block title %}PosturePal - Info{% endblock %}

{% block content %}
<div class="marginContainer">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Disclaimer:</strong> This app is not intended for medical purposes. It is solely for improving the presentation of your posture.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="informationContainer">
        <div class="infoCardsContainer">
            <a href="{{ url_for('article1') }}">
                <div class="infoCards">
                    <p>Gym Workouts For Posture</p>
                    <img src="{{ url_for('static', filename='images/ThumbnailPosture.png') }}" alt="Thumbnail">
                </div>
            </a>
            <a href="{{ url_for('article2') }}">
                <div class="infoCards">
                    <p>Yoga For Posture</p>
                    <img src="{{ url_for('static', filename='images/ThumbnailYoga.png') }}" alt="Thumbanil">
                </div>
            </a>
            <a href="{{ url_for('article3') }}">
                <div class="infoCards">
                    <p>Health Benefits Of Posture</p>
                    <img src="{{ url_for('static', filename='images/ThumbnailBenefits.png') }}" alt="Thumbanil">
                </div>
            </a>
            <a href="{{ url_for('article4') }}">
                <div class="infoCards">
                    <p>Does Posture Actually Matter?</p>
                    <img src="{{ url_for('static', filename='images/ThumbnailMatter.png') }}" alt="Thumbanil">
                </div>
            </a>
            <a href="{{ url_for('article5') }}">
                <div class="infoCards">
                    <p>Which Posture Position?</p>
                    <img src="{{ url_for('static', filename='images/ThumbnailWhich.png') }}" alt="Thumbanil">
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}