{% extends "base.html" %}

{% block title %}PosturePal - Statistics{% endblock %}

{% block content %}

    
    {% if sensor_data %}
        <!-- <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Yaw</th>
                    <th>Pitch</th>
                    <th>Roll</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in sensor_data %}
                    <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.yaw }}</td>
                        <td>{{ entry.pitch }}</td>
                        <td>{{ entry.roll }}</td>
                        <td>{{ entry.temperature }}</td>
                        <td>{{ entry.humidity }}</td>
                        <td>{{ entry.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> -->
    {% else %}
        <p>No sensor data available.</p>
    {% endif %}
{% endblock %}
